@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark text-light font-sans min-h-screen antialiased;
}

h1, h2, h3 {
  @apply text-brand font-bold;
}

button {
  @apply bg-brand text-white px-4 py-2 rounded-lg hover:bg-accent transition;
}

/* Estilo de tarjeta (productos) */
.card {
  @apply bg-white/10 backdrop-blur-lg border border-white/20 rounded-2xl shadow-soft p-5 transition-transform duration-300 hover:scale-[1.03];
}
nav a {
  @apply hover:underline underline-offset-4 decoration-brand transition-all duration-200;
}
