@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  color-scheme: dark;
}

body {
  @apply bg-darkbg text-white;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Inter, 'Poppins', Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji';
}

.container {
  @apply max-w-6xl mx-auto px-4;
}

.btn-primary {
  @apply bg-primary hover:bg-pink-600 text-white font-semibold px-4 py-2 rounded-lg transition;
}

.card {
  @apply bg-darkcard rounded-2xl p-4 shadow-md border border-neutral-800;
}
