@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark text-light font-sans;
}

h1, h2, h3 {
  @apply text-brand font-bold;
}

button {
  @apply bg-brand text-white px-4 py-2 rounded-lg hover:bg-accent transition;
}
